<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>

<div id = "clientProfile">
    <h2>My profile</h2>
    <p th:text="${name}">Name</p>
    <p th:text="${skintype}">Skin Type</p>
    <p th:text="${manipedi}">Manicure/Pedicure</p>
</div>

<div id = "servicesMenu">

    <div th:if="${manipedi.equals('manicure')}" >
        <h3 th:replace="~{fragments :: manicureDescription}">Manicure</h3>
    </div>
    <div th:if="${manipedi.equals('pedicure')}" >
        <h3 th:replace="~{fragments :: pedicureDescription}">Pedicure</h3>
    </div>
    <div th:if="${manipedi.equals('combo')}" >
        <h3 th:replace="~{fragments :: comboDescription}">Manicure & Pedicure</h3>
    </div>


    <th:block>
    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        <tr th:each="treatment : ${appropriateFacials}">
            <td th:text="${treatment}"></td>
        </tr>
        </thead>
    </table>
    </th:block>

    <!-- Color box -->
    <div class="color-square">
    </div>
    <div class="color-square">
    </div>
    <div class="color-square">
    </div>

</div>


</body>
</html>